@import "../../styles/base";

.component {
  &_user-select {
    @include center();

    &-title {
      color: $secondary-color;
      font-weight: 600;
      font-size: 3rem;
    }

    &-types {
      list-style: none;
      text-align: center;
      margin-top: 1rem;
    }
  }
}